html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #84AFBC;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "brandon-grotesque", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 150ms ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: #6a8c96;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, input[type="button"]:disabled:hover, input[type="reset"]:disabled:hover, input[type="submit"]:disabled:hover {
      background-color: #84AFBC; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select,
textarea {
  display: block;
  font-family: "brandon-grotesque", sans-serif;
  font-size: 1em; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
select[multiple] {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
  select[multiple]:hover {
    border-color: #b1b1b1; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
  select[multiple]:focus {
    border-color: #84AFBC;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(115, 164, 179, 0.7);
    outline: none; }
  input[type="color"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="email"]:disabled, input[type="month"]:disabled, input[type="number"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="text"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="week"]:disabled, input:not([type]):disabled, textarea:disabled,
  select[multiple]:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    input[type="color"]:disabled:hover, input[type="date"]:disabled:hover, input[type="datetime"]:disabled:hover, input[type="datetime-local"]:disabled:hover, input[type="email"]:disabled:hover, input[type="month"]:disabled:hover, input[type="number"]:disabled:hover, input[type="password"]:disabled:hover, input[type="search"]:disabled:hover, input[type="tel"]:disabled:hover, input[type="text"]:disabled:hover, input[type="time"]:disabled:hover, input[type="url"]:disabled:hover, input[type="week"]:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
    select[multiple]:disabled:hover {
      border: 1px solid #ddd; }

textarea {
  resize: vertical; }

[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 0.75em;
  max-width: 100%;
  width: auto; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #353639;
  font-family: "brandon-grotesque", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "brandon-grotesque", sans-serif;
  font-size: 1.333em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #84AFBC;
  text-decoration: none;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #63838d; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@font-face {
  font-family: 'icomoon';
  src: url("/fonts/icons/scoria-icons.eot?ftblrx");
  src: url("/fonts/icons/scoria-icons.eot?ftblrx#iefix") format("embedded-opentype"), url("/fonts/icons/scoria-icons.ttf?ftblrx") format("truetype"), url("/fonts/icons/scoria-icons.woff?ftblrx") format("woff"), url("/fonts/icons/scoria-icons.svg?ftblrx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-timeline_core-research:before {
  content: "\e900"; }

.icon-timeline_deliver:before {
  content: "\e901"; }

.icon-timeline_iterative-prototyping:before {
  content: "\e902"; }

.icon-timeline_lit-review:before {
  content: "\e903"; }

.icon-timeline_project-scoping:before {
  content: "\e904"; }

.icon-timeline_research-synthesis:before {
  content: "\e905"; }

.icon-book:before, .cd-timeline-img.icon-homepage-2:before {
  content: "\e91f"; }

.icon-search:before, .cd-timeline-img.icon-homepage-3:before {
  content: "\e986"; }

.icon-cog:before, .cd-timeline-img.icon-homepage-5:before {
  content: "\e994"; }

.icon-stats-dots:before, .cd-timeline-img.icon-homepage-4:before {
  content: "\e99b"; }

.icon-rocket:before, .cd-timeline-img.icon-homepage-6:before {
  content: "\e9a5"; }

.icon-target:before, .cd-timeline-img.icon-homepage-1:before {
  content: "\e9b3"; }

.icon-arrow-up2:before {
  content: "\ea3a"; }

.icon-arrow-right2:before {
  content: "\ea3c"; }

a {
  color: #84AFBC;
  font-weight: 100; }
  a:hover {
    color: #568d9e; }

.next-section {
  background: #A3ABB3; }
  .next-section .inner {
    padding: 2.3576515979%;
    text-align: center;
    margin: auto; }
  .next-section .next-section__title {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 2.368593037em; }

/* General button style (reset) */
.btn {
  border: none;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  transition: all 0.3s; }

.next-section__link {
  font-family: "brandon-grotesque", sans-serif; }

.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.3s; }

/* Button 4 */
.btn-4 {
  border-radius: 50px;
  border: 3px solid #fff;
  color: #fff;
  overflow: hidden; }

.btn-4:active {
  border-color: #FFFFFF;
  color: #568d9e; }

.btn-4:hover {
  background: #568d9e; }

.btn-4:before {
  position: absolute;
  height: 100%;
  font-size: 125%;
  line-height: 3.5;
  color: #fff;
  transition: all 0.3s;
  font-family: 'icomoon' !important;
  content: "\ea3c"; }

.btn-4:active:before {
  color: #568d9e; }

/* Button 4a */
.btn-4a:before {
  left: 130%;
  top: 0; }

.btn-4a:hover:before {
  left: 80%; }

.logo {
  color: #FFFFFF;
  font-size: 1.776889em;
  font-family: "brandon-grotesque", sans-serif;
  font-weight: 700;
  text-transform: uppercase; }
  .logo:hover {
    color: #568d9e; }

.cd-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: #242424;
  z-index: 100; }

.cd-header:after {
  content: "";
  display: table;
  clear: both; }

.cd-header #cd-logo {
  float: left;
  margin: 5px 0 0 5%; }
  @media only screen and (min-width: 767px) {
    .cd-header #cd-logo {
      margin: 13px 0 0 5%; } }

.cd-header #cd-logo img {
  display: block; }

@media only screen and (min-width: 767px) {
  .cd-header {
    height: 70px; }
  .cd-header #cd-logo {
    margin: 16px 0 0 5%; } }

.menu {
  float: right;
  margin-right: 5%;
  width: 20px;
  height: 100%;
  background: url("../images/cd-icon-menu.svg") no-repeat center center;
  background-size: 20px;
  cursor: pointer; }

.menu ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(-100%); }

.menu ul.is-visible {
  transform: translateY(50px); }

.menu a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  background: #242424;
  border-top: 1px solid #453c3d;
  color: #FFFFFF;
  font-weight: 500; }

@media only screen and (min-width: 767px) {
  .menu {
    width: auto;
    height: auto;
    background: none;
    cursor: auto;
    margin-top: 16px; }
  .menu ul {
    position: static;
    width: auto;
    transform: translateY(0);
    line-height: 34px; }
  .menu ul.is-visible {
    transform: translateY(0); }
  .menu li {
    display: inline-block;
    margin-left: 1em; }
  .menu a {
    display: inline-block;
    height: auto;
    line-height: normal;
    background: transparent;
    padding: .6em 1em;
    border-top: none;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    font-size: 0.875rem; }
  .no-touch .menu a:hover {
    color: #568d9e; } }

/* Horatio Styles */
.menu .menu__item {
  margin-left: 3px;
  margin-right: 3px;
  color: #FFFFFF;
  position: relative;
  transition: color .25s; }
  .menu .menu__item a {
    position: relative;
    color: inherit; }

@media only screen and (min-width: 992px) {
  .menu {
    margin-top: 16px; } }

.menu .menu__item--current {
  color: #568d9e; }

.menu .menu__item:hover {
  color: #84AFBC; }

.menu .menu__item::before,
.menu .menu__item::after,
.menu .menu__item a::before,
.menu .menu__item a::after {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px solid currentColor; }

.menu .menu__item::before {
  border-width: 0 0 0 2px;
  transform-origin: left bottom; }

.menu .menu__item::after {
  border-width: 0 2px 0 0;
  transform-origin: right top; }

.menu .menu__item a::before,
.menu .menu__item a::after {
  z-index: 2; }

.menu .menu__item a::before {
  border-width: 2px 0 0;
  transform-origin: left top; }

.menu .menu__item a::after {
  border-width: 0 0 2px;
  transform-origin: right bottom; }

.menu .menu__item--current::before,
.menu .menu__item--current::after,
.menu .menu__item:hover::before,
.menu .menu__item:hover::after,
.menu .menu__item--current a::before,
.menu .menu__item--current a::after,
.menu .menu__item:hover a::before,
.menu .menu__item:hover a::after {
  content: ''; }

.menu .menu__item:not(.menu__item--current):hover::before,
.menu .menu__item:not(.menu__item--current):hover::after,
.menu .menu__item:not(.menu__item--current):hover a::before,
.menu .menu__item:not(.menu__item--current):hover a::after {
  animation: horatio-anim .6s ease-in-out; }

.menu .menu__item:not(.menu__item--current):hover::before {
  animation-delay: -.45s; }

.menu .menu__item:not(.menu__item--current):hover a::before {
  animation-delay: -.3s; }

.menu .menu__item:not(.menu__item--current):hover::after {
  animation-delay: -.15s; }

.menu .menu__item:not(.menu__item--current):hover a::after {
  animation-delay: 0; }

@keyframes horatio-anim {
  0%, 33% {
    opacity: 0;
    transform: rotate(45deg) scale(1.5); }
  100% {
    opacity: 1;
    transform: none; } }

/* End: Horatio Styles */
body {
  background: #F1F4F6;
  margin: 0; }

.hero {
  position: relative;
  margin-top: 70px; }

.hero-content {
  z-index: 0;
  -webkit-filter: brightness(0.5);
  filter: brightness(0.5);
  position: relative;
  background: url("../images/homepage/mars-hero.jpg") no-repeat center center;
  background-size: cover;
  background-position: top;
  display: table;
  width: 100%;
  height: 38vw; }

.hero-tagline {
  position: absolute;
  color: #FFFFFF;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 3.1573345183em;
  text-align: center; }

.hunt-content {
  text-align: center;
  background: #A3ABB3; }

.hunt-statement {
  font-size: 1.333em;
  padding: 2.3576515979%;
  text-align: center;
  font-weight: 300; }
  @media only screen and (min-width: 992px) {
    .hunt-statement {
      font-size: 2.368593037em; } }

.cards {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  box-pack: justify;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: justify;
  padding: 2.3576515979%; }
  .cards h4 {
    margin-top: .5em;
    font-weight: 500;
    font-size: 1.776889em; }
  .cards .card {
    flex-basis: 20em;
    -ms-flex-preferred-size: 20em;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    flex-grow: 1;
    -ms-flex-positive: 1;
    margin: 1em;
    background-color: white;
    padding: 20px; }
  .cards .card-copy {
    font-weight: 500;
    font-size: 1.333em;
    color: #353639; }
  .cards .card-image {
    height: 12em;
    background: whitesmoke;
    overflow: hidden; }
    .cards .card-image img {
      width: 100%;
      -webkit-filter: brightness(0.8);
      filter: brightness(0.5); }

#cd-timeline {
  position: relative;
  padding: 2.3576515979%;
  margin-top: 2em;
  margin-bottom: 2em; }
  #cd-timeline::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: #e1e8ec; }
  @media only screen and (min-width: 1170px) {
    #cd-timeline {
      margin-top: 3em;
      margin-bottom: 3em; }
      #cd-timeline::before {
        left: 50%;
        margin-left: -2px; } }

.cd-timeline-block {
  position: relative;
  margin: 2em 0; }
  .cd-timeline-block::after {
    clear: both;
    content: "";
    display: table; }
  .cd-timeline-block:first-child {
    margin-top: 0; }
  .cd-timeline-block:last-child {
    margin-bottom: 0; }
  @media only screen and (min-width: 1170px) {
    .cd-timeline-block {
      margin: 4em 0; }
      .cd-timeline-block:first-child {
        margin-top: 0; }
      .cd-timeline-block:last-child {
        margin-bottom: 0; } }

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #FFFFFF, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05); }
  .cd-timeline-img img {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px; }
  .cd-timeline-img.cd-picture {
    background: #84AFBC; }
  .cd-timeline-img.icon-homepage-1:before {
    color: #FFFFFF;
    margin: 9px;
    display: block;
    font-size: 1.4em; }
    @media only screen and (min-width: 1170px) {
      .cd-timeline-img.icon-homepage-1:before {
        margin: 14px;
        font-size: 2em; } }
  .cd-timeline-img.icon-homepage-2:before {
    color: #FFFFFF;
    margin: 9px;
    display: block;
    font-size: 1.4em; }
    @media only screen and (min-width: 1170px) {
      .cd-timeline-img.icon-homepage-2:before {
        margin: 14px;
        font-size: 2em; } }
  .cd-timeline-img.icon-homepage-3:before {
    color: #FFFFFF;
    margin: 9px;
    display: block;
    font-size: 1.4em; }
    @media only screen and (min-width: 1170px) {
      .cd-timeline-img.icon-homepage-3:before {
        margin: 14px;
        font-size: 2em; } }
  .cd-timeline-img.icon-homepage-4:before {
    color: #FFFFFF;
    margin: 9px;
    display: block;
    font-size: 1.4em; }
    @media only screen and (min-width: 1170px) {
      .cd-timeline-img.icon-homepage-4:before {
        margin: 14px;
        font-size: 2em; } }
  .cd-timeline-img.icon-homepage-5:before {
    color: #FFFFFF;
    margin: 9px;
    display: block;
    font-size: 1.4em; }
    @media only screen and (min-width: 1170px) {
      .cd-timeline-img.icon-homepage-5:before {
        margin: 14px;
        font-size: 2em; } }
  .cd-timeline-img.icon-homepage-6:before {
    color: #FFFFFF;
    margin: 9px;
    display: block;
    font-size: 1.4em; }
    @media only screen and (min-width: 1170px) {
      .cd-timeline-img.icon-homepage-6:before {
        margin: 14px;
        font-size: 2em; } }
  @media only screen and (min-width: 1170px) {
    .cd-timeline-img {
      width: 60px;
      height: 60px;
      left: 50%;
      margin-left: -30px;
      /* Force Hardware Acceleration in WebKit */
      -webkit-transform: translateZ(0);
      -webkit-backface-visibility: hidden; }
      .cssanimations .cd-timeline-img.is-hidden {
        visibility: hidden; }
      .cssanimations .cd-timeline-img.bounce-in {
        visibility: visible;
        animation: cd-bounce-1 0.6s; } }

@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    transform: scale(0.5); }
  60% {
    opacity: 1;
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }

.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: #ffffff;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #e1e8ec; }
  .cd-timeline-content::after {
    clear: both;
    content: "";
    display: table; }
  .cd-timeline-content h2 {
    color: #353639; }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    display: inline-block; }
  .cd-timeline-content p {
    margin: 1em 0;
    line-height: 1.6; }
  .cd-timeline-content a.cd-read-more {
    float: right;
    padding: .8em 1em;
    background-color: #84AFBC;
    color: #FFFFFF;
    border-radius: 0.25em; }
    .no-touch .cd-timeline-content a.cd-read-more:hover {
      background-color: #568d9e; }
  .cd-timeline-content .cd-date {
    float: left;
    padding: .8em 0;
    opacity: .7; }
  .cd-timeline-content::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid #FFFFFF; }
  @media only screen and (min-width: 992px) {
    .cd-timeline-content h2 {
      font-size: 1.776889em; }
    .cd-timeline-content p {
      font-size: 1.333em; }
    .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
      font-size: 1.333em; } }
  @media only screen and (min-width: 1170px) {
    .cd-timeline-content {
      margin-left: 0;
      padding: 1.6em;
      width: 45%; }
      .cd-timeline-content::before {
        top: 24px;
        left: 100%;
        border-color: transparent;
        border-left-color: #FFFFFF; }
      .cd-timeline-content .cd-read-more {
        float: left; }
      .cd-timeline-content .cd-date {
        position: absolute;
        width: 100%;
        left: 122%;
        top: 6px;
        font-size: 1.333em; }
      .cd-timeline-block:nth-child(even) .cd-timeline-content {
        float: right; }
        .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
          top: 24px;
          left: auto;
          right: 100%;
          border-color: transparent;
          border-right-color: #FFFFFF; }
        .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
          float: right; }
        .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
          left: auto;
          right: 122%;
          text-align: right; }
      .cssanimations .cd-timeline-content.is-hidden {
        visibility: hidden; }
      .cssanimations .cd-timeline-content.bounce-in {
        visibility: visible;
        animation: cd-bounce-2 0.6s; } }

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    animation: cd-bounce-2-inverse 0.6s; } }

@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  60% {
    opacity: 1;
    transform: translateX(20px); }
  100% {
    transform: translateX(0); } }

@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  60% {
    opacity: 1;
    transform: translateX(-20px); }
  100% {
    transform: translateX(0); } }

.goto-research {
  background: #899fcb;
  color: #FFFFFF; }

.research-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 768px;
  margin: 0 auto; }

.research-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both; }

.cd-main-content {
  /* you need to assign a min-height to the main content so that the children can inherit it*/
  height: 100%;
  position: relative;
  z-index: 1; }

.cd-fixed-bg {
  position: relative;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1; }

.cd-fixed-bg h1, .cd-fixed-bg h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  max-width: 1170px;
  text-align: center;
  font-size: 30px;
  font-size: 1.875rem;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  color: white; }

.cd-fixed-bg {
  background-position: top; }
  .cd-fixed-bg.cd-bg-1 {
    background-image: url("../images/research/cd-background-1.jpg"); }
  .cd-fixed-bg.cd-bg-2 {
    background-image: url("../images/research/cd-background-2.jpg"); }
  .cd-fixed-bg.cd-bg-3 {
    background-image: url("../images/research/cd-background-3.jpg"); }
  .cd-fixed-bg.cd-bg-4 {
    background-image: url("../images/research/cd-background-4.jpg"); }

@media only screen and (min-width: 768px) {
  .cd-fixed-bg h1, .cd-fixed-bg h2 {
    font-size: 36px; } }

@media only screen and (min-width: 1170px) {
  .cd-fixed-bg {
    background-attachment: fixed; }
  .cd-fixed-bg h1, .cd-fixed-bg h2 {
    font-size: 48px;
    font-weight: 300; } }

.cd-scrolling-bg {
  position: relative;
  min-height: 100%;
  padding: 4em 0;
  line-height: 1.6;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  z-index: 2;
  font-weight: 400;
  background-color: #FFFFFF;
  color: #242424; }

@media only screen and (min-width: 768px) {
  .cd-scrolling-bg {
    padding: 8em 0;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 2; } }

.cd-fixed-bg.cd-bg-5 {
  background-image: url("../images/ideation/background-5.jpg"); }

.cd-fixed-bg.cd-bg-6 {
  background-image: url("../images/ideation/background-6.jpg"); }

.cd-fixed-bg.cd-bg-7 {
  background-image: url("../images/ideation/background-7.jpg"); }

.cd-fixed-bg.cd-bg-8 {
  background-image: url("../images/ideation/background-8.jpg"); }

.cd-fixed-bg.fieldbook-bg-1 {
  background-image: url("../images/fieldbook/hero-images/basalt-3.jpg"); }

.cd-fixed-bg.fieldbook-bg-2 {
  background-image: url("../images/fieldbook/hero-images/matt.png"); }

.cd-fixed-bg.fieldbook-bg-3 {
  background-image: url("../images/fieldbook/hero-images/sbt-1.jpg"); }

.cd-fixed-bg.fieldbook-bg-4 {
  background-image: url("../images/fieldbook/hero-images/basalt-7.jpg"); }

.final-interfaces {
  margin-bottom: 4.235801032em; }
  .final-interfaces .ev {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 48.821174201%; }
    .final-interfaces .ev:last-child {
      margin-right: 0; }
  .final-interfaces .iv {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 48.821174201%;
    margin-right: 0; }
    .final-interfaces .iv:last-child {
      margin-right: 0; }
  .final-interfaces .image-captions {
    font-size: 0.7501875469em;
    line-height: 1;
    margin: 0; }

.features {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.618em; }
  .features::after {
    clear: both;
    content: "";
    display: table; }
  .features__title {
    width: 100%;
    margin-top: 1.618em; }
  .features__info {
    width: 100%; }
  .features__icons {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 23.2317613015%; }
    .features__icons:last-child {
      margin-right: 0; }
  .features__details {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 74.4105871005%; }
    .features__details:last-child {
      margin-right: 0; }

.fieldbook-gallery img {
  margin-top: 1.618em; }

body.overflow-hidden {
  /* when author bio is visible, the out-of-focus content won't scroll */
  overflow: hidden; }

img {
  max-width: 100%; }

.hero-content.team {
  margin-top: 70px;
  background: url("../images/team/team.jpg") no-repeat center 53%;
  height: 59vw;
  background-size: 100%; }

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1200px;
  margin: 0 auto; }

.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both; }

/* -------------------------------- 

Main components 

-------------------------------- */
main {
  position: relative;
  z-index: 2;
  transition-property: transform;
  transition-duration: 0.3s; }

main.slide-out {
  /* the main element slides to the left when the author bio is visible */
  transform: translateX(-270px); }

main.slide-out .cd-overlay {
  /* the overlay layer gets visible when the author bio slides in */
  display: block;
  animation: cd-fade-in 0.3s; }

@media only screen and (min-width: 768px) {
  main.slide-out {
    /* change in size of the author bio section */
    transform: translateX(-600px); } }

@media only screen and (min-width: 1200px) {
  main.slide-out {
    transform: translateX(-800px); } }

.cd-section {
  padding: 2em 0;
  text-align: center; }

.cd-section .cd-container {
  /* this modifies the .cd-container default max-width */
  max-width: 1200px; }

.cd-section h2 {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1em;
  font-size: 20px;
  font-size: 1.25rem; }

.cd-section p {
  line-height: 1.4; }

@media only screen and (min-width: 768px) {
  .cd-section {
    padding: 4em; }
  .cd-section p {
    line-height: 1.6; } }

@media only screen and (min-width: 1200px) {
  .cd-section {
    padding: 6em; }
  .cd-section h2 {
    margin-bottom: 2em; }
  .cd-section p {
    line-height: 1.8;
    font-size: 1.776889em; } }

header {
  background: #f2ecbd; }

header h1 {
  font-size: 30px;
  font-size: 1.875rem;
  font-family: "Droid Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: .4em;
  color: #3e380c; }

header p {
  font-size: 13px;
  font-size: 0.8125rem;
  color: #93861d; }

.cd-placeholder-2 {
  background: #FFF; }

#cd-team {
  background: #84AFBC; }

#cd-team .cd-container {
  max-width: 1200px; }

#cd-team h2 {
  color: #1a2f2a; }

#cd-team li {
  margin-bottom: 2em;
  border-radius: 0.25em;
  box-shadow: 0 0 10px rgba(92, 75, 81, 0);
  transition: all 0.3s; }

.no-touch #cd-team li:hover {
  box-shadow: 0 0 10px rgba(92, 75, 81, 0.3); }

.no-touch #cd-team li:hover .cd-img-overlay {
  opacity: 1;
  cursor: pointer; }

#cd-team figure {
  position: relative;
  margin: 0; }

#cd-team img {
  display: block;
  width: 100%;
  border-radius: .25em .25em 0 0; }

#cd-team .cd-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(92, 75, 81, 0.9);
  opacity: 0;
  border-radius: .25em .25em 0 0;
  transition: opacity 0.3s; }

#cd-team .cd-img-overlay span {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  transform: translateX(-50%) translateY(-50%);
  color: #FFF;
  font-size: 1.333em;
  font-weight: 500; }

#cd-team .cd-member-info {
  height: 80px;
  background: #FFF;
  text-align: center;
  font-family: "Droid Sans", sans-serif;
  font-weight: bold;
  padding-top: 20px;
  border-radius: 0 0 .25em .25em;
  font-size: 0.7501875469em; }
  @media only screen and (min-width: 992px) {
    #cd-team .cd-member-info {
      font-size: 1em; } }

#cd-team .cd-member-info span {
  display: block;
  font-family: "Droid Serif", serif;
  font-weight: normal;
  color: #999999;
  font-size: 14px;
  font-size: 0.7501875469em; }
  @media only screen and (min-width: 992px) {
    #cd-team .cd-member-info span {
      font-size: 1em; } }

@media only screen and (min-width: 768px) {
  #cd-team li {
    width: 21%;
    float: left;
    margin-right: 3.5%; }
  #cd-team li:nth-child(4n) {
    margin-right: 0; } }

.cd-member-bio {
  position: fixed;
  top: 0;
  right: 0;
  width: 270px;
  height: 100%;
  overflow-y: auto;
  /* smooth scrolling on mobile phones and tablets */
  -webkit-overflow-scrolling: touch;
  background: #5c4b51;
  z-index: 1;
  /* this how we move the author bio section off the canvas */
  transform: translateX(270px);
  transition-property: transform;
  transition-duration: 0.3s; }

.cd-member-bio.slide-in {
  /* the author bio section slides in when the user clicks on the team member picture */
  transform: translateX(0); }

.cd-member-bio .cd-member-bio-pict {
  position: relative;
  margin-top: 70px; }

.cd-member-bio .cd-member-bio-pict::after {
  /* gradient at the bottom of the image - same color of the background of the section */
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: linear-gradient(to top, #5c4b51, rgba(92, 75, 81, 0)); }

.no-cssgradients .cd-member-bio .cd-member-bio-pict::after {
  display: none; }

.cd-member-bio img {
  width: 100%;
  display: block; }

.cd-member-bio .cd-bio-content {
  padding: 1em;
  color: #FFF; }

.cd-member-bio .cd-bio-content h1 {
  font-family: "Droid Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  font-size: 1.25rem; }

.cd-member-bio .cd-bio-content p {
  font-size: 1em;
  margin: 1em 0;
  line-height: 1.4;
  color: #d7cfd2; }

@media only screen and (min-width: 768px) {
  .cd-member-bio {
    width: 600px;
    transform: translateX(600px); }
  .cd-member-bio .cd-bio-content {
    padding: 2em; }
  .cd-member-bio .cd-bio-content p {
    line-height: 1.6;
    margin: 2em 0; } }

@media only screen and (min-width: 1200px) {
  .cd-member-bio {
    width: 800px;
    transform: translateX(800px); }
  .cd-member-bio .cd-member-bio-pict::after {
    height: 150px; }
  .cd-member-bio .cd-bio-content {
    padding: 4em;
    /* we move the content up so the title is over the color gradient */
    transform: translateY(-80px); }
  .cd-member-bio .cd-bio-content h1 {
    font-size: 40px;
    font-size: 2.5rem; }
  .cd-member-bio .cd-bio-content p {
    font-size: 1.776889em; }
  .no-cssgradients .cd-member-bio .cd-bio-content {
    transform: translateY(0); } }

.cd-member-bio-close {
  width: 32px;
  height: 32px;
  overflow: hidden;
  position: fixed;
  top: 80px;
  right: 10px;
  background: url("../images/cd-icon-close.svg") no-repeat center center;
  text-indent: 100%;
  white-space: nowrap;
  z-index: 3;
  display: none; }

.cd-member-bio-close.is-visible {
  display: block;
  animation: cd-move-in 0.8s; }

@media only screen and (min-width: 1200px) {
  .cd-member-bio-close {
    right: 20px;
    top: 80px; } }

.cd-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(138, 190, 178, 0.8);
  cursor: pointer;
  display: none; }

/* -------------------------------- 

xkeyframes 

-------------------------------- */

@keyframes cd-fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes cd-move-in {
  0% {
    transform: translateX(100px); }
  100% {
    transform: translateX(0); } }

.timeline {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .timeline::after {
    clear: both;
    content: "";
    display: table; }
  .timeline_item {
    display: table;
    width: 100%;
    table-layout: fixed;
    margin-bottom: 2.3576515979%; }
  .timeline_image {
    padding: 2.3576515979%;
    display: table-cell;
    width: 25%;
    display: table-cell;
    vertical-align: middle; }
    .timeline_image img {
      vertical-align: middle;
      display: table-cell; }
  .timeline_info {
    display: table-cell;
    width: 66.6666666667%; }
  .timeline .year {
    font-weight: 700; }

.challenges-images {
  padding: 2.3576515979%; }

article.type-system-geometric h4 {
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 0.2em;
  margin-top: 1em; }

.cd-fixed-bg {
  background-position: top; }
  .cd-fixed-bg.cd-bg-9 {
    background-image: url("../images/domain/mars-hero.jpg"); }
  .cd-fixed-bg.cd-bg-10 {
    background-image: url("../images/domain/humanwithrobot.jpg"); }
  .cd-fixed-bg.cd-bg-11 {
    background-image: url("../images/domain/humans-on-mars.jpg"); }
  .cd-fixed-bg.cd-bg-12 {
    background-image: url("../images/domain/mars-terrain.jpg"); }

.footer-2 {
  background: #353639;
  display: inline-block;
  padding: 1.5em;
  width: 100%; }
  .footer-2 .footer-logo {
    margin-bottom: 1em;
    margin-right: 1em; }
    @media screen and (min-width: 900px) {
      .footer-2 .footer-logo {
        float: left;
        margin-bottom: 0; } }
  .footer-2 .footer-logo img {
    height: 1.6em; }
  .footer-2 ul {
    line-height: 1.5em;
    margin: 0 0 1em 0;
    padding: 0; }
    @media screen and (min-width: 900px) {
      .footer-2 ul {
        float: left;
        line-height: 1.8em;
        margin-bottom: 0;
        margin-left: 1em; } }
  .footer-2 ul li {
    list-style: none;
    padding-right: 1em; }
    @media screen and (min-width: 900px) {
      .footer-2 ul li {
        display: inline;
        text-align: left; } }
  .footer-2 ul li a {
    color: #FFFFFF;
    text-decoration: none; }
    .footer-2 ul li a:focus, .footer-2 ul li a:hover {
      color: white; }
  .footer-2 .footer-secondary-links {
    color: #FFFFFF; }
    @media screen and (min-width: 900px) {
      .footer-2 .footer-secondary-links {
        float: right; } }
    .footer-2 .footer-secondary-links li {
      font-size: 0.8em; }

/*# sourceMappingURL=app.css.map */
