.cd-fixed-bg {
	&.fieldbook-bg-1 {
		background-image: url("../images/fieldbook/hero-images/basalt-3.jpg");
	}

	&.fieldbook-bg-2 {
		background-image: url("../images/fieldbook/hero-images/matt.png");
	}

	&.fieldbook-bg-3 {
		background-image: url("../images/fieldbook/hero-images/sbt-1.jpg");
	}

	&.fieldbook-bg-4 {
		background-image: url("../images/fieldbook/hero-images/basalt-7.jpg");
	}
}

.final-interfaces {
	margin-bottom: $fg-column;

	.ev {
		@include span-columns(6);
	}

	.iv {
		@include span-columns(6);
		@include omega();
	}

	.image-captions {
		font-size: modular-scale(-1);
		line-height: 1;
		margin: 0;
	}
}

.features {
	@include outer-container;
	margin-bottom: $fg-gutter;

	&__title {
		@include fill-parent();
		margin-top: $fg-gutter;
	}

	&__info {
		@include fill-parent();
	}

	&__icons {
		@include span-columns(3);
	}

	&__details {
		@include span-columns(9);
	}
}

.fieldbook-gallery {
	img {
		margin-top: $fg-gutter;
	}
}