.cd-fixed-bg {
	&.cd-bg-5 {
	  background-image: url("../images/ideation/background-5.jpg");
	}
	&.cd-bg-6 {
	  background-image: url("../images/ideation/background-6.jpg");
	}
	&.cd-bg-7 {
	  background-image: url("../images/ideation/background-7.jpg");
	}
	&.cd-bg-8 {
	  background-image: url("../images/ideation/background-8.jpg");
	}	
}