// _functions.scss
@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }

  @warn "Unknown `#{$key}` in $colors.";
  @return null;
}

@function link($key) {
  @if map-has-key($links, $key) {
    @return map-get($links, $key);
  }

  @warn "Unknown `#{$key}` in $links.";
  @return null;
}

@function z($key) {
  @if map-has-key($z-layers, $key) {
    @return map-get($z-layers, $key);
  }

  @warn "Unknown `#{$key}` in $z-layers.";
  @return null;
}

@function weight($key) {
  @if map-has-key($weights, $key) {
    @return map-get($weights, $key);
  }

  @warn "Unknown `#{$key}` in $weights.";
  @return null;
}

// breakpoints
   
$S:     320px;   
$M:     768px;     
$L:     1170px;     

// media queries

@mixin MQ($canvas) {
  @if $canvas == S {
   @media only screen and (min-width: $S) { @content; } 
  }
  @else if $canvas == M {
   @media only screen and (min-width: $M) { @content; } 
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; } 
  }
}

@mixin border-radius($radius:.25em) {
  border-radius: $radius;
}
