// Breakpoints
$medium-screen: 600px;
$large-screen: 900px;

// Typography
$base-font-family: "brandon-grotesque",sans-serif;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$colors: (
	white: #FFFFFF,
	blue: #1565c0,
	dark-gray: #353639,
	medium-gray: #757575,
	light-gray: #ddd,
	bg: #F1F4F6,
	sub-bg: #A3ABB3,
	header: #31353d
);

//Links
$base-color: #7dcf85;

$links: (
	base: $base-color,
	hover: darken($base-color, 15%),
	lighten: lighten($base-color, 10%)

);

// Colors
$weights: (
	thin: 100,
	light: 300,
	regular: 400,
	medium: 500,
	bold: 700,
	black: 900
);

// Font Colors
$base-font-color: color(dark-gray);
$action-color: $base-color;

// Border
$base-border-color: color(light-gray);
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;

// Colors
$z-layers: (
	hero: 0,
	header: 100,
	hero-tagline: 10
);
